@charset "UTF-8";
body{
    max-width: 750px;
    margin: 0 auto;
    font-size: 1em;
    color: #000;
    background: #FFF;
    font-family: "微软雅黑","arial";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1,h2,h3,h4,ul,ol,p{
    padding: 0;
    margin: 0;
}
li{list-style:none;}
a{
    text-decoration: none;
    color: #000;
    outline:none;
    -moz-outline-style:none;
}
img{
    max-width: 100%;
}
.main{
    background-size: cover;
    width: 100vw;
    max-width: 750px;
    min-height: 100vh;
}
h1{
    text-align: center;
}

.red{
    color: #e74b4b;
}
.blue{
    color: #004694;
}
/*首页*/
.main1{
    background-image: url("images/bg1.jpg");
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    background-position: top center;
}
.main1 h1{
    /*padding-top: 1em;*/
}
.main1 .exit{
    width: 50%;
    margin: -5em auto 0;
}
.main1 .exit a + a{
    margin-top: 1em;
    display: block;
}
.bottom{
    text-align: center;
    color: #FFF;
    font-size: 1.2em;
    padding-bottom: 1.8em;
}
/*参选对象*/
.main2{
    background-image: url("images/bg2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main2 h1{
    /* padding-top:2.5em; */
    margin-bottom:.5em;
}
.main2 h1 img{
    width:50%;
}
.main2 .list{/* padding-bottom: 6em; */}
.main2 .list a{
    display: flex;
    -webkit-display:flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 0.6em;
    background: #0c5da9;
    font-size: 1.5em;
    color: #FFF;
    padding: 1em;
    position: relative;
}

.main2 .list a .icon{
    height: 2em;
    text-align: center;
    margin-right: 0.5em;
    width: 2.6em;
}
.main2 .list a .icon img{
    height:100%;
}
.main2 .list a:nth-child(2n){
    background: #FFF;
    color:#1d2088;
}
.main2 .list a:after{
    content: '';
    width: .6em;
    height: .6em;
    border-top: 1px solid #FFF;
    border-left:1px solid #FFF;
    position: absolute;
    right:1em;
    top:50%;
    transform: rotate(135deg);
    margin-top: -0.3em;
}
.main2 .list a:nth-child(2n):after{
    border-top: 1px solid #1d2088;
    border-left:1px solid #1d2088;
}
/*详情*/
/*.main3{*/
    /*background-image: url("images/bg3.jpg");*/
    /*background-size: 100% auto;*/
    /*background-repeat: repeat-y;*/
    /*background-attachment: fixed;*/
    /*background-position: top center;*/
/*}*/
.main3:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    background: url("images/bg3.jpg") top center repeat;
    background-size: 100% auto;
    height: 100vh;
}
.main3 .list{padding-top: 1px;padding-bottom: 2em;}
.main3 .list li,.tan.details .mainTan .d1{
    display: flex;
    -webkit-display:flex;
    align-items: center;
    -webkit-align-items: center;
    background: rgba(255,255,255,.9);
    margin-bottom: 1px;
    padding: 1em;
}
.main3 .userImg,.tan.details .userImg{
    width: 3.5em;
    border-radius: 50%;
    overflow: hidden;
    height: 3.5em;
    border: 1px solid #004694;
    margin-right: 1em;
}
.main3 .d2,
.tan.details .d2{flex:1;-webkit-flex: 1;}
.main3 .d2 .p2{line-height: 1;}
.main3 .d2 .name,
.tan.details .d2 .name{
    font-weight: normal;
    font-size: 1.3em;
}
.main3 .d2 .red,
.tan.details  .d2 .red{
    font-size:.9em;
}
.main3 .d2 .red i,
.tan.details  .d2 .red i{
    font-style: normal;
}
.main3 .d2 .blue,
.tan.details .d2 .blue{
    font-size: .9em;
}
.main3 .d2 u{
    font-size: .9em;
    color: #5d5d5d;
    margin-left: 0.5em;
}
.main3 .d3{
    background: #004694;
    color: #FFF;
    padding: 0.4em 1em;
    border-radius: 5px;
    font-size: .9em;
    display: flex;
    -webkit-display:flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
}
.main3 .d3 .icon{
    width:1em;
    height: 1em;
    background: url("images/vote0.png") center no-repeat;
    background-size: 100% auto;
    margin-right: .5em;
}
.main3 .d3.act .icon{
    background-image: url("images/vote2.png");
}
.main3 .d3 .text{
    width:3em;
}
/*活动员工详情弹窗*/
.tan{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tan.details .mainTan{
    background: #FFF;
    border-radius: 10px;
    width: 90vw;
    max-width: 750px;
    padding: 1em;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}
.tan.details .mainTan .d1{
    padding: 0 0 1em;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 1em;
}
.tan.details .text{
    height: 50vh;
    overflow-y: scroll;
    color: #505050;
    line-height: 1.5;
}
.tan.details .text p{
    text-indent: 2em;
    margin-bottom: .5em;
}
.tan .close{
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0.5em;
    right: 0.5em;
    background: url("images/close.png") no-repeat center;
    background-size:cover;
    -webkit-background-size: cover;
}
/*活动开始结束提示*/
.tishi{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}
.tishi span{
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: 0.7em 1.2em;
    border-radius: 0.4em;
}
.erweima{
    width: 40%;
    color: #FFF;
    line-height: 2;
    margin-top: -5em;
}